/*----------global settings--------*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --green : #9DC183;
    --light-green: #e0ffcd;
    --box-shadow: 0 0 10px rgba(0 0 0/15%);
}
html{
    font-size : 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body{
    background-image: url('img/body-bg.jpg');
    width: 100%;
}
.main{
    width: 85vw;
    background:#fff ;
    box-shadow: 0 2px 6px 0 rgb(0 0 0/10%);
    margin: 1rem auto;
    margin-top: 7rem;
    padding: 2%;
}
a{
    text-decoration: none;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 2;
}
.title p{
    text-transform: capitalize;
}
.title .logo{
    width: 80px;
}
ul{
    list-style: none;
}
.icons sup{
    position: absolute;
    top: 15%;
    background: #000;
    color:#fff ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: .1rem;
}
.empty{
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background: var(--light-green);
    color: var(--green);
    border: 1px solid var(--green);
}
.btn{
    line-height: 2;
    background-color: #e0ffcd;
    padding: 5px 35px;
    display: inline-block;
    border-radius: 30px;
    color: #000;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    z-index: 2;
}
.btn::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: var(--green);
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.3s ease;
}
.btn:hover::before{
    width: 100%;
}
label{
    text-transform: capitalize;
}
input,
textarea{
    background: #fff;
    border: none;
    outline: none;
    padding: .6rem;
    box-shadow: var(--box-shadow);
    margin: .5rem 0;
    border: 1px solid var(--green);
    width: 100%;
}
button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.banner{
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: var(--green);
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-transform: uppercase;
    color: #fff;
    margin-left: 3rem;
}
.title2{
    border-top: 1px solid var(--green);
    padding: 1rem 2rem;
    text-transform: uppercase;
    box-shadow: var(--box-shadow);
}
.title2 a{
    color: var(--green);
}
/*------header-------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:1.2rem 2rem;
    z-index: 101;
    transition: .3s;
    box-shadow: var(--box-shadow);
    background-image: url('img/body-bg.jpg');
}
header .scrolled{
    top:0;
    box-shadow: 0 5px 20px 0.1px rgba(0,0,0, 0.1);
}
.header .scrolled a:hover{
    color: var(--green);
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}
.navbar a:hover{
    color: var(--green);
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000!important;
}
#menu-btn{
    display: none;
}
.header .user-box{
    position: absolute;
    top: 120%;
    right: 0;
    box-shadow: rgb(255, 255, 255/80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}
.header .user-box .btn{
    border-radius: .5rem;
    padding: 0 1.5rem;
}
.logout-btn{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 11rem;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .5rem 0;
}
.header .user-box .active{
    transform: scale(1.0);
    transition: .2s linear;
}
/*------------home slider section----------*/
.home-section{
    position: relative;
    margin-bottom: 2rem;
}
.slider{
    font-family: "Roboto", sans-serif;
    max-height: 80vh;
    width:100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.slider__slider{
    height: 80vh;
    min-width: 100vw;
    width: 100%;
    scroll-snap-align: start;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.slider__slider .slide-detail{
    position: absolute;
    top: 35%;
    left: 17%;
    text-align: center;
}
.slider__slider .slide-detail h1{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.slider__slider .slide-detail h1::before{
    position: absolute;
    content: '';
    background: #e2e2e2;
    width: 380px;
    height: 1px;
    bottom: -40%;
    left: 21%;
}
.slider__slider .slide-detail h1::after{
    content: '';
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: -50%;
    left: 50%;
    background-color: #f7b90f;
}
.slider__slider .slide-detail p{
    font-size: 17px;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.slide1{
    background-image: url('img/slide1.jpg');
}
.slide2{
    background-image: url('img/slide5.jpg');
}
.slide3{
    background-image: url('img/slide4.jpg');
}
.slide4{
    background-image: url('img/slide6.jpg');
}
.slide5{
    background-image: url('img/slide1.jpg');
}
.left-arrow,
.right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--light-green);
    box-shadow: 0 0 0 6px rgb(255 255 255 / 40%);
    z-index: 2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    line-height: 40px;
    display: flex;
}
.right-arrow{
    right: 1rem;
}
.left-arrow{
    left: 1rem;
}
.hero-dec-top,
.hero-dec-bottom{
    position: absolute;
    left: 5%;
    width: 100px;
    height: 100px;
}
.hero-dec-top{
    top: 4%;
    border-left: 2px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
}
.hero-dec-top{
    bottom: 5%;
    border-left: 2px solid #e2e2e2;
    border-bottom: 2px solid #e2e2e2;
}
.thumb{
   width: 100%;
   margin: 5rem auto; 
}
.box-container{
    width: 100%;
}
.box-container h2{
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.thumb .box-container .box-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    margin-bottom: 2rem;
}
.thumb .box-container .box-grid .box{
    text-align: justify;
    line-height: 1.5;
    cursor: pointer;
}

.thumb .box-container .box-grid .box .box-image{
    height: calc(100% - 6rem);
    width : 100%;
    object-fit: cover;
}
.box-title{
    font-size: 1rem;
    padding: 1rem 0;
    color: #000;
}
.last-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 8rem;
}
.last-container .details{
    width: 50%;
}
.last-container .details h2{
    font-size: 2rem;
    padding: 1rem 0 0.5rem;
}
.last-container .details p{
    font-size: 1rem;
    padding-bottom: 3rem;
}
.last-container img{
    width: 50%;
}
/*-----------about page-------------*/
.about-introduction{
    flex-direction: column;
    padding: 0 4rem;
    color: #fff;
}
.about-introduction h1{
    font-size: 2.1rem;
}
.about-introduction p{
    margin-top: 1rem;
    font-size: 1rem;
}
.about-container{
    display: flex;
    width: 100%;
    margin: 7rem auto;
    justify-content: space-between;
    align-items: center;
    
}
.about-container .about-details{
    width: 50%;
    padding: 0 2.5rem;
  
}
.about-container .about-details h3{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(1, 57, 1)
 
}
.about-container .about-details p{
    font-size: 1.1rem;
}
.about-container img{
    width: 50%;
}
/* .testimonial-container{
    padding: 6% 0;
    background: url(img/body-bg.jpg);
}
.testimonial-container .container{
    position: relative;
    perspective: 1000;
    padding-top: 2rem;
}
.testimonial-container .container .testimonial-item {
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    color: gray;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    display: none;
    padding: 1rem;
    transition: .4s;
}
.testimonial-container .container .testimonial-item .active{
    display: block;
}
.testimonial-container .container .testimonial-item h1{
    color: var(--green);
    font-size: 1.3rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}
.testimonial-container .container .testimonial-item img{
    padding: 1rem 0;
    border-radius: 50%;
}
.testimonial-container .container .left-arrow,
.testimonial-container .container .right-arrow{
    position: absolute;
    top: 40%;
    transform: translate(-50%);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    box-shadow: var(--box-shadow);
    background: var(--green);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testimonial-container .container .right-arrow{
    right: 3rem;
}
.testimonial-container .container .left-arrow{
    left: 3rem;
} */
/*----------contact section-----------*/
.banner-contact{
    margin-bottom: 3rem;
}
.main-container{
    background-color: #fff;
    width: 60vw;
    min-width:  80vw;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 2rem auto;
    padding: 1rem 0; 
}
.form-container{
    width: 50vw;
    margin: 0 auto;  
}
.form-container input,
textarea{
    background-color: transparent;
    width: 100%;
    margin-bottom: 1rem;
}
textarea{
    height: 200px;
}
.form-container p{
    color: var(--green);
}
.form-container span{
    color: red;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 1.2rem;
}
.main-container input[type=submit]{
    color: #000!important;
    cursor: pointer;
}
.form-container form{
    margin: 1rem auto;
    background-color: rgb(255 255 255 / 80%);
    box-shadow: var(--box-shadow);
    padding: 3rem;
    position: relative;
    border-radius: 5px;
}
.form-container form p{
    text-transform: uppercase;
    text-align: justify;
}
.form-container form input{
    width: 100%;
}
.form-container form button{
    width: 100%;
    border-radius: 10px;
    outline: none;
    text-align: center;
}
.address{
    padding: 2rem 0;
    min-height: 50vh;
    box-shadow: var(--box-shadow); 
    text-align: center;
    margin: 3rem auto 3rem;
}
.address .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.address .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: var(--box-shadow);
    line-height: 2;
    padding: 1rem 0;
    width: 300px;
}
.address .box-container .box h4{
    text-transform: uppercase;
    color: var(--green);
}
.address .box-container .box i{
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    color: #fff;

}
/*------------footer section----------*/
.top-footer{
    width: 100%;
    background-color: var(--green);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;justify-content: space-between;
    align-items: center;
    color: #fff;
}
.top-footer h2 i{
    margin-right: .5rem;
}
.top-footer input{
    width: 40vw;
}
footer{
    background-image: url('img/footerBG.jpg');
    width: 100%;
    min-height: 73vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 85%;
}
footer .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
}
.footer-content{
    position: absolute;
    top: 10%;
}
.footer-content .img-box{
    text-align: center;
}
footer .inner-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem ;
    color: #fff;
}
footer .inner-footer .card{
    margin: .5rem;

}
footer .inner-footer .card li{
    cursor: pointer;
    line-height: 1.5rem;
    text-transform: capitalize;
    font-size: 16px;
}
footer.inner-footer .card li:nth-child(1),
footer .inner-footer .card p{
    margin-top: 1rem;
}
footer .inner-footer .card h3{
    text-transform: uppercase;
}
footer .inner-footer .card p{
    margin-bottom: 1rem;
    font-size: 16px;
}
footer .inner-footer .card .social-links{
    margin-top: 1rem;
}
footer .inner-footer .card .social-links i{
    width: 50px;
    height: 50px;
    line-height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--green);
    cursor: pointer;
    padding: .6rem;
    font-size: 1.3rem;
}
footer .inner-footer .card .social-links i:hover{
    background: var(--green);
    color: #fff;
}
footer .bottom-footer{
    text-transform: capitalize;
    text-align: center;
    padding: 3rem 0;
    color: #fff;
    padding-bottom: 1rem;
}
/*--------media screen--------*/
@media (mx-width: 991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        width: 100%;
        padding: 0 2rem;
        top: 130%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid var(--green);
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 0 0 );
    }
    .header .flex .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
    .form-container{
        width: 100%;
    }
    form{
        width: 100%;
    }
}






















































